################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineShop/config
/.vs/OnlineShop
/OnlineShop/bin/Debug/netcoreapp3.1
/OnlineShop/obj
/.vs
